/*========================================================
                        Camera
=========================================================*/
.camera_container {
  position: relative;
  padding-bottom: 30.7292%;
}
@media (max-width: 976.27012744px) {
  .camera_container {
    padding-bottom: 300px;
  }
}
.camera_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0 !important;
  height: 100%;
  background: #fff;
  z-index: 0;
}
.camera_wrap img {
  max-width: none !important;
}
.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%;
}
.camera_src {
  display: none;
}
.cameraCont,
.cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}
.cameraSlide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cameraContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
.camera_target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  text-align: left;
  z-index: 0;
}
.camera_overlayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
}
.camera_target_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2;
}
.camera_loader {
  background: #ffffff url(../images/camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3;
}
.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4;
}
.camerarelative {
  overflow: hidden;
  position: relative;
}
.imgFake {
  cursor: pointer;
}
.camera_command_wrap .hideNav {
  display: none;
}
.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4;
}
.showIt {
  display: none;
}
.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative;
}
.camera_caption {
  display: none;
}
.cameraContent .camera_caption {
  display: block;
}
/*================   Custom Layout&Styles   =====================*/
.camera_caption {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
}
.camera_caption > div {
  height: 100%;
}
.camera_pag {
  position: absolute;
  bottom: 15%;
  left: 50%;
  margin-left: -585px;
}
@media (max-width: 479px) {
  .camera_pag {
    margin-left: -135px;
  }
}
@media (max-width: 767px) and (min-width: 479px) {
  .camera_pag {
    margin-left: -210px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  .camera_pag {
    margin-left: -374px;
  }
}
@media (max-width: 1199px) and (min-width: 980px) {
  .camera_pag {
    margin-left: -470px;
  }
}
.camera_pag_ul {
  text-align: center;
}
.camera_pag_ul li {
  display: inline-block;
  width: 19px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.camera_pag_ul li.cameracurrent,
.camera_pag_ul li:hover {
  background: #630d0e;
}
.camera_pag_ul li + li {
  margin-left: 20px;
}
.camera_pag_ul li > span {
  display: none;
}
.camera-text {
  position: relative;
  left: -30px;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px 30px;
  font: 50px/72px 'Fjalla One', sans-serif;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 1199px) and (min-width: 980px) {
  .camera-text {
    font: 46px/54px 'Fjalla One', sans-serif;
  }
}
@media (max-width: 979px) and (min-width: 480px) {
  .camera-text {
    font: 40px/50px 'Fjalla One', sans-serif;
    left: 0;
  }
}
@media (max-width: 479px) {
  .camera-text {
    font: 30px/40px 'Fjalla One', sans-serif;
    left: 0;
  }
}
.camera-text p {
  margin: 0;
  padding: 0;
}
