/*==================  GOOGLE MAP  ======================*/
.map_model {
  height: 250px;
  border-radius: 6px;
}
.map_model img {
  max-width: none !important;
}
@media (max-width: 767px) {
  .map_model {
    height: 250px;
  }
}
@media (max-width: 479px) {
  .map_model {
    height: 200px;
  }
}
.map_locations {
  display: none;
}
.map_main {
  height: 250px;
}
.map_main img {
  max-width: none !important;
}
@media (max-width: 767px) {
  .map_main {
    height: 250px;
  }
}
@media (max-width: 479px) {
  .map_main {
    height: 200px;
  }
}
.map_locations {
  display: none;
}
