.search-form {
  display: block;
  position: relative;
  width: 210px;
}
.search-form_label {
  display: block;
  padding: 12px 40px 12px 10px;
  background: #ededed;
  border: 1px solid #a5a5a5;
}
.search-form_input {
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  box-shadow: none;
  color: #333333;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  height: 16px;
}
.search-form_submit {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: absolute;
  top: 10px;
  right: 12px;
  width: 25px;
  height: 22px;
  color: #a5a5a5;
  font: 400 22px/22px 'FontAwesome', sans-serif;
}
.search-form_submit::-moz-focus-inner {
  border: none;
  padding: 0;
}
.search-form_submit:before {
  content: '\f002';
}
.search-form_submit:hover {
  color: #c13830;
}
@media (max-width: 479px) {
  .search-form {
    width: 270px;
  }
}
.search-form_toggle {
  float: right;
  display: inline-block;
  color: #828282;
  font: 400 44px/44px 'FontAwesome';
}
.search-form_toggle:before {
  content: '\f002';
}
.search-form_toggle.active,
.search-form_toggle:hover {
  color: #c13830;
}
.search-form_toggle.active:before {
  content: '\f00d';
}
.search-form_liveout {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.lt-ie9 .search-form_liveout {
  filter: alpha(opacity=0);
}
.search-form_liveout .search_list {
  font-size: 14px;
  line-height: 24px;
  background: #FFF;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.search-form_liveout .search_list li + li {
  margin-top: 2px;
}
.search-form_liveout .search_link {
  display: block;
  padding: 5px 10px;
  background: #FFF;
  color: #999;
}
.search-form_liveout .search_link .search_title {
  color: #c13830;
  text-transform: uppercase;
}
.search-form_liveout .search_link:hover {
  background: #c13830;
  color: #f2cdcb;
}
.search-form_liveout .search_link:hover .search_title {
  color: #FFF;
}
.search-form_liveout .search_error {
  display: block;
  color: #c13830;
  background: #fafafa;
  padding: 10px 10px;
  overflow: hidden;
}
.search-form_liveout .match {
  display: none;
}
.search-form_liveout button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  color: #c13830;
  background: #fafafa;
  padding: 10px 10px;
}
.search-form_liveout button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.search-form_liveout button:hover {
  background: #c13830;
  color: #FFF;
}
input:focus + .search-form_liveout {
  opacity: 1;
}
.lt-ie9 input:focus + .search-form_liveout {
  filter: alpha(opacity=100);
}
.search-form_liveout .tablet,
.mobile .search-form_liveout {
  display: none !important;
}
.search-frame,
.search-frame body {
  width: 100%;
  height: auto;
  background: transparent;
}
.search-frame,
.search-frame body,
.search-frame h1,
.search-frame h2,
.search-frame h3,
.search-frame h4,
.search-frame h5,
.search-frame h6,
.search-frame p,
.search-frame em {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}
.search-frame img {
  max-width: 100%;
  height: auto;
}
.search-frame a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame a:active {
  background: transparent;
}
.search-frame a:focus {
  outline: none;
}
.search-frame h4 {
  font: 18px/18px 'Fjalla One', sans-serif;
  color: #403d40;
}
.search-frame h4 a:hover {
  color: #c13830;
}
.search-frame .search_list {
  color: #828282;
  font: 400 14px/21px Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
  list-style-type: none;
}
.search-frame .search_list li {
  padding-left: 30px;
  position: relative;
}
.search-frame .search_list li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  font: 400 24px 'FontAwesome';
  line-height: inherit;
}
.search-frame .search_list + li {
  margin-top: 20px;
}
.search-frame .search {
  color: #777777;
}
.search-frame .match {
  color: #30a0c1;
  font-size: 11px;
  display: block;
  padding-bottom: 20px;
}
.search-frame * + p {
  margin-top: 16px;
}
