@import "animate.css";
/* @import url(//fonts.googleapis.com/css?family=Fjalla+One); */
@import url(https://fonts.googleapis.com/css?family=Fjalla+One&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,latin-ext);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
/*========================================================
                        Includes
=========================================================*/
/*========================================================
                      Main Styles
=========================================================*/
body {
  background: #fbfbfc;
  color: #828282;
  font: 400 14px/21px 'Arial', sans-serif;
  -webkit-text-size-adjust: none;
}
img {
  max-width: 100%;
  height: auto;
}
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #630d0e;
}
h2 {
  padding-bottom: 32px;
  padding-top: 20px;
  font: 48px/48px 'PT Sans Narrow', sans-serif;
  /* color: #403d40; */
  color: #630d0e;
}
h3 {
  font: 24px/27px 'PT Sans Narrow', sans-serif;
  padding-bottom: 45px;
  padding-top: 80px;
  text-transform: uppercase;
  /* color: #403d40; */
  color: #630d0e;
}
h3.border {
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 30px;
  padding-bottom: 15px;
  color: #630d0e;
}
h4 {
  font: 16px/21px 'Arial', sans-serif;
  padding-bottom: 20px;
  text-transform: uppercase;
  /* color: #630d0e; */
  color: #630d0e;
}
h5 {
  font: 15px/18px 'PT Sans Narrow', sans-serif;
  padding-bottom: 10px;
  text-transform: uppercase;
  /* color: #403d40; */
  color: #630d0e;
}
h6 {
  font: 18px/30px 'PT Sans Narrow', sans-serif;
  padding-bottom: 15px;
  text-transform: uppercase;
	/* color: #403d40; */
	color: #630d0e;
}
p a:hover {
  text-decoration: underline;
}
time {
  display: block;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:active {
  background: transparent;
}
a:focus {
  outline: none;
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
strong {
  font-weight: 700;
}
.fa {
  line-height: inherit;
}
[class*='fa-']:before {
  font-weight: 400;
  font-family: 'FontAwesome';
}
.page {
  overflow: hidden;
  min-height: 500px;
}
.lt-ie9 .page {
  min-width: 1200px;
}
/*=======================================================
                       Main Layout
=========================================================*/
/*=======================================================
                        Components
=========================================================*/
/*========================   Menu   ==========================*/
.sf-menu {
  display: inline-block;
}
.sf-menu:before,
.sf-menu:after {
  content: " ";
  display: table;
}
.sf-menu:after {
  clear: both;
}
.sf-menu > li {
  position: relative;
  float: left;
}
.sf-menu > li + li {
  margin-left: 28px;
}
.sf-menu a {
  display: block;
}
.sf-menu > li > a {
  color: #949897;
  font: 18px/31px 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
}
.sf-menu > li.sfHover > a,
.sf-menu > li > a:hover {
  color: #fff;
}
.sf-menu > li.active > a {
  color: #fff;
}
.sf-menu ul {
  display: none;
  position: absolute;
  top: 100%;
  width: 235px;
  margin-top: 22px;
  padding: 20px 0 20px;
  background: #323232;
  z-index: 2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sf-menu ul > li {
  position: relative;
}
.sf-menu ul > li > a {
  color: #757877;
  font-size: 12px;
  line-height: 37px;
  padding-left: 30px;
}
.sf-menu ul > li.sfHover > a,
.sf-menu ul > li > a:hover {
  color: #FFF;
  background: #630d0e;
}
.sf-menu ul ul {
  position: absolute;
  top: 0;
  left: 100%;
  margin-top: 10px;
  width: auto;
  min-width: 150px;
  background: #323232;
  padding: 0;
  z-index: 4;
}
.sf-menu ul ul > li > a {
  color: #757877;
  font-size: 12px;
  line-height: 37px;
  padding-left: 30px;
}
.sf-menu ul ul > li.sfHover > a,
.sf-menu ul ul > li > a:hover {
  background: #630d0e;
}
.sf-menu > li > .sf-with-ul {
  position: relative;
}
.sf-menu > li > .sf-with-ul:before {
  position: absolute;
  left: 50%;
  top: 62%;
  margin-left: -6px;
  content: '\f0d7';
  font: 400 12px/12px 'FontAwesome';
}
.sf-menu ul > li > .sf-with-ul {
  position: relative;
}
.sf-menu ul > li > .sf-with-ul:before {
  position: absolute;
  right: 25px;
  top: 50%;
  margin-top: -11px;
  content: '\f105';
  font: 400 20px/20px 'FontAwesome';
  color: #828282;
}
.sf-menu ul > li > .sf-with-ul:hover:before {
  color: #fff;
}
.sf-menu ul > .sfHover > a:before {
  color: #fff;
}
@media (max-width: 767px) {
  .sf-menu {
    display: none;
  }
}
/*==================  Select Menu  ======================*/
.select-menu {
  position: relative;
  display: none;
  margin: 0 auto 20px;
  width: 420px;
  background: #ffffff url('../images/select.png') no-repeat right center;
  overflow: hidden;
}
.select-menu .select {
  width: 440px;
  height: 30px;
  color: #585858;
  background-color: transparent;
  font: 400 15px 'Arial', sans-serif;
  line-height: 30px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
}
.select-menu .select::-ms-expand {
  display: none;
}
@media (max-width: 767px) {
  .select-menu {
    display: block;
  }
}
@media (max-width: 479px) {
  .select-menu {
    width: 270px;
  }
  .select-menu .select {
    width: 290px;
  }
}
/*==================  Stuck menu  ======================*/
.stuck_container {
  padding-top: 25px;
  padding-bottom: 23px;
}
.isStuck {
  background: #444444;
  z-index: 999;
  border-bottom: 1px solid #333333;
}
@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}
/*==================     ToTop     ======================*/
.toTop {
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
  background: #444444;
  position: fixed;
  right: 66px;
  bottom: 180px;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;
}
.toTop:hover {
  color: #fff;
  background: #630d0e;
  text-decoration: none;
}
@media only screen and (max-width: 1399px) {
  .toTop {
    display: none !important;
  }
}
/*==================   Tumbnail    ======================*/
.thumb {
  display: block;
  position: relative;
  overflow: hidden;
}
.thumb img {
  width: 100%;
  height: auto;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.thumb_overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #ffffff;
  background: transparent;
}
.thumb_overlay:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  background: url(../images/icon_expand.png) no-repeat left top;
  margin-top: -24px;
  margin-left: -24px;
}
.lt-ie9 .thumb_overlay:before {
  display: none;
}
.thumb:hover .thumb_overlay {
  opacity: 1;
  background: rgba(255, 255, 255, 0.7);
}
.lt-ie9 .thumb:hover .thumb_overlay {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3ffffff', endColorstr='#b3ffffff');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3ffffff', endColorstr='#b3ffffff');
  zoom: 1;
}
.lt-ie9 .thumb:hover .thumb_overlay:before {
  display: block;
}
.thumb.video {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.thumb.video img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.thumb.video:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 56px;
  height: 56px;
  background: url(../images/icon_video.png) no-repeat left top;
  margin-top: -28px;
  margin-left: -28px;
}
.thumb.video .thumb_overlay:before {
  display: none;
}
/*=================       Tabs     ======================*/
.resp-tabs-list {
  position: relative;
  text-align: justify;
  padding-bottom: 18px;
}
.resp-tabs-list:after {
  content: "";
  position: absolute;
  top: 22px;
  left: 1%;
  width: 98%;
  height: 3px;
  background: #dfdfdf;
}
.resp-tabs-list li {
  position: relative;
  cursor: pointer;
  display: inline-block;
  color: #828282;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}
.resp-tabs-list li:last-child {
  margin-right: 0;
}
.resp-tabs-list li span {
  position: relative;
  z-index: 5;
  width: 38px;
  height: 38px;
  border: 4px solid #dfdfdf;
  display: block;
  border-radius: 50%;
  margin: 0 auto 5px;
  background: #fbfbfc;
}
.resp-tabs-list li:hover span {
  background: #dfdfdf;
}
.resp-tabs-list li.resp-tab-active span {
  background: #dfdfdf;
}
.resp-accordion {
  display: none;
  color: #828282;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  cursor: pointer;
}
.resp-accordion:hover {
  color: #c13830;
}
.resp-tab-content {
  display: none;
  padding-bottom: 50px;
}
.resp-tab-content img {
  margin-top: 7px;
}
.resp-tab-content-active {
  display: block;
}
@media (max-width: 767px) {
  .resp-accordion {
    display: block;
  }
  .resp-tabs-list {
    display: none;
  }
}
.tabs-spacer {
  display: inline-block;
  vertical-align: top;
  width: 98%;
  height: 1px;
  visibility: hidden;
}
/*==================    Buttons    ======================*/
.btn {
  position: relative;
  display: inline-block;
  padding: 0 22px;
  height: 39px;
  font: 16px/39px 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: #630d0e;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  z-index: 1;
}
.btn:hover {
  text-decoration: none;
  background: #444444;
}
.btn_white {
  color: #373938;
  background: #fff;
}
.btn_white:hover {
  color: #c13830;
  background: #fff;
}
.btn_dark {
  background: #373938;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn_red {
  background: #c13830;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn_red:hover {
  background: #30a0c1;
}
.link1 {
  display: inline-block;
  margin-bottom: 10px;
  font: 16px/20px 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  color: #30a0c1;
}
.link1:hover {
  color: #c13830;
}
.link2 {
  color: #630d0e;
}
/*==================      Box      ======================*/
.box1 {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  overflow: hidden;
  background: #dfdfdf;
  margin-bottom: 50px;
}
.box1 img {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.box1_cnt {
  padding: 17px 23px 15px;
}
.box1 p {
  font-size: 14px;
  margin-bottom: 10px;
}
.box1 p a {
  color: #c13830;
}
.box1 .box-info {
  font-size: 12px;
  margin: 0;
}
.owl-carousel .box1 {
  margin-bottom: 10px;
}
.owl-carousel h5 {
  padding: 0;
}
.box2 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2), 0 0 0 4px #d8d8d9;
  overflow: hidden;
  padding: 28px 25px 38px;
  text-align: center;
  color: #fff;
}
.box2 h3 {
  padding-top: 27px;
  padding-bottom: 17px;
  color: #fff;
}
.box2_color1 {
  background: #949897;
}
.box2_color2 {
  background: #ffba38;
}
.box2_color3 {
  background: #30a0c1;
}
.box2_color4 {
  background: #c13830;
}
.box3 {
  margin-bottom: 15px;
}
.box3:before,
.box3:after {
  content: " ";
  display: table;
}
.box3:after {
  clear: both;
}
.box3 p {
  font-size: 12px;
  line-height: 18px;
}
.box3_aside {
  float: left;
  margin-right: 17px;
}
.box3_cnt__no-flow {
  overflow: hidden;
}
.post-meta {
  font: 15px/18px 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}
@media (max-width: 979px) {
  .post-meta {
    font-size: 13px;
  }
}
.post-meta a {
	/* color: #403d40; */
    color: #630d0e;
}
.post-meta a:hover {
  color: #30a0c1;
}
.post-meta a.user {
  color: #c13830;
}
.post-meta a.user:hover {
  color: #30a0c1;
}
.post-meta a .fa {
  margin-right: 4px;
  line-height: 16px;
}
.post-meta a + a {
  margin-left: 20px;
}
@media (max-width: 979px) {
  .post-meta a + a {
    margin-left: 10px;
  }
}
/*========================================================
                     HEADER  Section
=========================================================*/
header {
  background: #f0f0f2;
}
.top-header {
  background: #630d0e;
  border-bottom: 3px solid #d8d8d9;
}
.top-header .nav {
  float: left;
}
@media (max-width: 767px) {
  .top-header .nav {
    text-align: center;
    float: none;
  }
}
.social-list {
  float: right;
  padding-top: 5px;
}
@media (max-width: 767px) {
  .social-list {
    text-align: center;
    float: none;
  }
}
.social-list li {
  position: relative;
  float: left;
}
.social-list li + li {
  margin-left: 12px;
}
.social-list a {
  display: block;
  color: #a6a8a7;
}
.social-list a:hover {
  color: #fff;
}
.social-list a .fa {
  display: block;
  font-size: 15px;
}
.main-header {
  padding: 36px 0;
}
.main-header:before,
.main-header:after {
  content: " ";
  display: table;
}
.main-header:after {
  clear: both;
}
@media (max-width: 479px) {
  .main-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.hdr-right {
  float: right;
  margin-top: 3px;
}
.hdr-right:before,
.hdr-right:after {
  content: " ";
  display: table;
}
.hdr-right:after {
  clear: both;
}
@media (max-width: 979px) {
  .hdr-right {
    /* float: none;
    margin-top: 20px; */
  }
}
.hdr-address {
  float: left;
  color: #670712;
  margin-right: 10px;
}
.hdr-address:before,
.hdr-address:after {
  content: " ";
  display: table;
}
.hdr-address:after {
  clear: both;
}
@media (max-width: 767px) {
  .hdr-address {
    float: none;
	margin-top: 20px;
  }
}
.hdr-address .addr-icon {
  float: left;
  margin-right: 5px;
}
.hdr-address dl {
  float: left;
  margin-right: 15px;
  font-size: 12px;
  line-height: 16px;
  position: relative;
}
.hdr-address dl:before,
.hdr-address dl:after {
  content: " ";
  display: table;
}
.hdr-address dl:after {
  clear: both;
}
@media (max-width: 479px) {
  .hdr-address dl {
    float: none;
    margin-bottom: 10px;
  }
}
.search-block {
  float: right;
}
@media (max-width: 767px) {
  .search-block {
    float: none;
    margin-top: 20px;
  }
}
/*==================     Brand     ======================*/
.brand {
  float: left;
  display: inline-block;
}
@media (max-width: 979px) {
  .brand {
    float: none;
  }
}
/*========================================================
                     CONTENT  Section
=========================================================*/
main {
  display: block;
  background: #fbfbfc;
}
main p {
  margin-bottom: 25px;
}
.imgs-block img {
  display: inline-block;
  width: 129px;
  height: auto;
  -webkit-box-shadow: 0 0 0 4px #e1e1e2;
  -moz-box-shadow: 0 0 0 4px #e1e1e2;
  box-shadow: 0 0 0 4px #e1e1e2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 12px;
  margin-top: 0;
}
.imgs-block img.mr1 {
  margin-right: 8px;
}
.banner {
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 0 1px #dedede;
  -moz-box-shadow: inset 0 0 0 1px #dedede;
  box-shadow: inset 0 0 0 1px #dedede;
  padding: 27px 30px 25px;
  margin-bottom: 10px;
}
.banner:before,
.banner:after {
  content: " ";
  display: table;
}
.banner:after {
  clear: both;
}
.banner .banner-title {
  color: #403d40;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: -1px;
  margin: 0;
}
@media (max-width: 767px) {
  .banner .banner-title {
    text-align: center;
  }
}
.banner .banner-title span {
  text-transform: uppercase;
  font-weight: bold;
    color: #630d0e;
}
@media (max-width: 767px) {
  .banner .banner-title span {
    display: block;
  }
}
.banner .banner-title a {
  color: #c13830;
}
.banner .banner-title a:hover {
  color: #30a0c1;
}
.banner .banner-right {
  float: right;
  overflow: hidden;
  text-align: center;
}
@media (max-width: 767px) {
  .banner .banner-right {
    float: none;
    margin-bottom: 20px;
  }
}
.list1 {
  color: #30a0c1;
}
.list1 h3 {
  color: #30a0c1;
}
.list1 li {
  margin-bottom: 10px;
}
.list1 a {
  color: #30a0c1;
  font-size: 12px;
}
.list1 a:hover {
  color: #c13830;
}
.list1_left {
  float: left;
  width: 270px;
}
@media (max-width: 1199px) and (min-width: 980px) {
  .list1_left {
    width: 225px;
  }
}
@media (max-width: 979px) {
  .list1_left {
    width: 100%;
  }
}
.list1_left + .list1_left {
  margin-left: 30px;
}
@media (max-width: 1199px) and (min-width: 980px) {
  .list1_left + .list1_left {
    margin-left: 10px;
  }
}
@media (max-width: 979px) {
  .list1_left + .list1_left {
    margin-left: 0;
  }
}
.list1-wrap:before,
.list1-wrap:after {
  content: " ";
  display: table;
}
.list1-wrap:after {
  clear: both;
}
.brands-list {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}
.brands-list li {
  display: inline-block;
  margin: 0 18px 10px;
}
.brands-list a img {
  opacity: 0.7;
}
.lt-ie9 .brands-list a img {
  filter: alpha(opacity=70);
}
.brands-list a:hover img {
  opacity: 1;
}
.lt-ie9 .brands-list a:hover img {
  filter: alpha(opacity=100);
}
.list2 li {
  font-size: 12px;
  line-height: 18px;
}
.list2 li a {
  color: #838383;
}
.list2.list2-main {
  text-transform: uppercase;
}
.hdr-date {
  padding-bottom: 10px;
  padding-top: 10px;
  font: 24px/30px 'PT Sans Narrow', sans-serif;
}
.hdr-date a {
  color: #c13830;
}
.hdr-date a:hover {
  color: #30a0c1;
}
.img-border {
  width: 100%;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
img + img {
  margin-top: 30px;
}
.addr {
  font-size: 14px;
  line-height: 24px;
}
.addr dt,
.addr dd {
  display: inline-block;
}
.addr dt {
  width: 80px;
}
.addr p {
  margin: 0;
}
.addr-wrap {
  margin-bottom: 40px;
}
.addr-wrap h4 {
  padding-bottom: 5px;
}
.addr-wrap .addr {
  line-height: 21px;
}
.terms {
  padding-bottom: 50px;
}
.terms h4 {
  padding-bottom: 5px;
}
.terms p {
  margin-bottom: 30px;
}
.mt1 {
  margin-top: 10px;
}
.mt2 {
  margin-top: 7px;
}
.mt3 {
  margin-top: 33px;
}
/*==================      Well     ======================*/
.well1 {
  padding: 100px 0 80px;
}
.well2 {
  padding-top: 60px;
  padding-bottom: 65px;
}
.well3 {
  padding-bottom: 40px;
}
.well4 {
  padding-top: 15px;
}
.well5 {
  padding-top: 60px;
}
.well6 {
  padding-bottom: 80px;
}
/*==================  Backgrounds  ======================*/
.bg01 {
  background: #f0f0f2;
}
/*========================================================
                     FOOTER  Styles
=========================================================*/
footer {
  background: #fbfbfc;
  padding-bottom: 120px;
  border-top: 1px solid #f0f0f2;
}
footer a:hover {
  text-decoration: underline;
}
footer .copyright {
  color: #c13830;
  font-size: 16px;
  line-height: 18px;
}
footer .copyright .copy-brand {
  text-transform: uppercase;
}
footer .list3 {
  font-size: 10px;
  line-height: 16px;
}
footer .list3 li {
  display: inline-block;
}
footer .list3 li a {
  color: #838383;
}
.top-footer {
  padding-bottom: 75px;
  padding-top: 25px;
}
.pb1 {
  padding-bottom: 10px;
}
.add {
  border-bottom: 1px solid #d8d8da;
}
.add p {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 30px;
}
.add .add-inner:before,
.add .add-inner:after {
  content: " ";
  display: table;
}
.add .add-inner:after {
  clear: both;
}
.add .add-inner .add-left {
  float: left;
  width: 70%;
}
@media (max-width: 767px) {
  .add .add-inner .add-left {
    float: none;
    width: 100%;
  }
}
.add .add-inner .add-right {
  float: right;
}
@media (max-width: 767px) {
  .add .add-inner .add-right {
    float: none;
    margin-bottom: 30px;
  }
}
