.hovermsg_container {
	position: absolute;
	overflow: hidden;
	display: block;
	padding: 10px 15px;
	overflow: hidden;
	background: url('../images/hm_bg.png') repeat;
	color: #f9f9f9;
	font: 14px/1.2em Verdana, arial, sans-serif;
	/* border-radius: 10px; */
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
#hovermsg_top-right {
	  z-index: 99999;
}
.hovermsg_close {
	float: right;
}
.hovermsg_warning {
	background: #161616 url('../images/hm_warning.png') no-repeat 10px 10px;
	padding-left: 50px;
}
.hovermsg_error {
	background: #161616 url('../images/hm_error.png') no-repeat 10px 10px;
	padding-left: 50px;
}
.hovermsg_notice {
	background: #161616 url('../images/hm_notice.png') no-repeat 10px 10px;
	padding-left: 50px;
}
.hovermsg_confirm {
	background: url('../images/hm_confirm.png') no-repeat 10px 10px;
	padding-left: 50px;
}