/*========================   Menu   ==========================*/

//--------------------------------------------------------------
//                       Menu Styles
//--------------------------------------------------------------
.sf-menu {
  .clearfix;
  display: inline-block;

  > li {
    position: relative;
    float: left;

    & + li {
      margin-left: 28px;
    }
  }

  a {
    display: block;
  }
}

//--------------------------------------------------------------
//                     Menu item styles
//--------------------------------------------------------------
.sf-menu {
  > li {
    > a {
      color: #949897;
      font: 16px/31px 'Fjalla One', sans-serif;
      text-transform: uppercase;
    }

    &.sfHover > a, > a:hover {
      color: #fff;
    }

    &.active > a {
      color: #fff;
    }
  }
}

//--------------------------------------------------------------
//                   Sub menu lvl1 styles
//--------------------------------------------------------------
.sf-menu ul {
  display: none;
  position: absolute;
  top: 100%;
  width: 235px;
  margin-top: 22px;
  padding: 20px 0 20px;
  background: #323232;
  z-index: 2;
  .box-sizing(border-box);
}

//--------------------------------------------------------------
//                 Sub menu lvl1 item styles
//--------------------------------------------------------------
.sf-menu ul {
  > li {
      position: relative;
    > a {
      color: #757877;
      font-size: 12px;
      line-height: 37px;
      padding-left: 30px;
    }

    &.sfHover > a, > a:hover {
      color: #FFF;
      background: @secondary;
    }
  }
}

//--------------------------------------------------------------
//                   Sub menu lvl2 styles
//--------------------------------------------------------------
.sf-menu ul ul {
  position: absolute;
  top: 0;
  left: 100%;
  margin-top: 10px;
  width: auto;
  min-width: 150px;
  background: #323232;
  padding: 0;
  z-index: 4;
}

//--------------------------------------------------------------
//                 Sub menu lvl2 item styles
//--------------------------------------------------------------
.sf-menu ul ul {

  > li {
    > a {
      color: #757877;
      font-size: 12px;
      line-height: 37px;
      padding-left: 30px;
    }

    &.sfHover > a, > a:hover {
      background: @secondary;
    }
  }
}

//--------------------------------------------------------------
//                      sf-with-ul styles
//--------------------------------------------------------------
.sf-menu > li > .sf-with-ul {
  position: relative;

  &:before {
    position: absolute;
    left: 50%;
    top: 62%;
    margin-left: -6px;
    content: @fa-caret-down;
    font: 400 12px/12px @fa;
  }
}

.sf-menu ul > li > .sf-with-ul {
  position: relative;

  &:before {
    position: absolute;
    right: 25px;
    top: 50%;
    margin-top: -11px;
    content: @fa-angle-right;
    font: 400 20px/20px @fa;
    color: @default;
  }

  &:hover {
    &:before {
      color: #fff;
    }
  }
}

.sf-menu ul > .sfHover > a  {
    &:before {
      color: #fff;
    }
  }



//--------------------------------------------------------------
//                        Responsive
//--------------------------------------------------------------
@media (max-width: 767px) {
  .sf-menu {
    display: none;
  }
}
