/*=================       Tabs     ======================*/
.resp-tabs-list {
  position: relative;
  text-align: justify;
  padding-bottom: 18px;

    &:after {
      content:"";
      position: absolute;
      top: 22px;
      left: 1%;
      width: 98%;
      height: 3px;
      background: #dfdfdf;
    }

  li {
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: #828282;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;


    &:last-child {
      margin-right: 0;

    }

    span {
      position: relative;
      z-index: 5;
      width: 38px;
      height: 38px;
      border: 4px solid #dfdfdf;
      display: block;
      border-radius: 50%;
      margin: 0 auto 5px;
      background: #fbfbfc;
    }


    &:hover{

      span {
        background: #dfdfdf;
      }

    }

    &.resp-tab-active {
      span {
        background: #dfdfdf;
      }
    }
  }
}

.resp-accordion {
  display: none;
    color: #828282;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: @primary;
    }
}

.resp-tab-content {
  display: none;
  padding-bottom: 50px;

  img {
    margin-top: 7px;
  }
}
.resp-tab-content-active {
  display: block;
}

@media (max-width: 767px) {
  .resp-accordion {
    display: block;
  }

  .resp-tabs-list {
    display: none;
  }
}

.tabs-spacer {
  display: inline-block;
  vertical-align: top;
  width: 98%;
  height: 1px;
  visibility: hidden;
}