/*==================   Tumbnail    ======================*/
@overlay-bg: rgba(255,255,255,.7);
@overlay-icon: @fa-expand;
@overlay-icon-size: 48px;
@overlay-icon-color: #fff;

.thumb {
  display: block;
  position: relative;
  overflow: hidden;

  img {
  	width: 100%;
  	height: auto;
    .transition(.5s all ease);
  }

  &_overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    .transition(.3s all ease);
    color: @overlay-icon-color;
    background: transparent;

    &:before {
      content: "";
      position: absolute;
       top: 50%;
      left: 50%;
      width: 48px;
      height: 48px;
      background: url(../images/icon_expand.png) no-repeat left top;
      margin-top: -(@overlay-icon-size / 2);
      margin-left: -(@overlay-icon-size / 2);

      .lt-ie9 & {
        display: none;
      }
    }

  }

  &:hover {
    .thumb_overlay {
      opacity: 1;
      .background(@overlay-bg);

      .lt-ie9 &:before {
        display: block;
      }
    }

  }
}

.thumb.video {
  .border-radius(6px);

  img {
    .border-radius(6px);
  }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 56px;
      height: 56px;
      background: url(../images/icon_video.png) no-repeat left top;
      margin-top: -28px;
      margin-left: -28px;
    }

    .thumb_overlay:before {
      display: none;
    }

  }