//========================================================
//                     Variables
//=========================================================

//Backgrounds
@header-bg: #f0f0f2;
@content-bg: #fbfbfc;
@footer-bg: #fbfbfc;

//Colors
@default: #828282;
@primary: #c13830;
@secondary: #30a0c1;
@color1: #373938;
@color2: #403d40;

//Fonts
@default-font: 'Arial', sans-serif;