/*========================================================
                        Camera
=========================================================*/
@import "_mixins.less";
@import "_variables.less";

@minHeight: 300px;
@ratio: 0.307292;

.camera_container {
  position: relative;
  padding-bottom: (@ratio * 100%);
}

@media (max-width: (@minHeight / @ratio)) {
  .camera_container {
    padding-bottom: @minHeight;
  }
}

.camera_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0 !important;
  height: 100%;
  background: #fff;
  z-index: 0;
}

.camera_wrap img {
  max-width: none !important;
}

.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%;
}

.camera_src {
  display: none;
}

.cameraCont, .cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.cameraSlide {
.camera-abs();
}

.cameraContent {
.camera-abs();
  display: none;
}

.camera_target {
.camera-abs();
  overflow: hidden;
  text-align: left;
  z-index: 0;
}

.camera_overlayer {
.camera-abs();
  overflow: hidden;
  z-index: 0;
}

.camera_target_content {
  .camera-abs();
  overflow: hidden;
  z-index: 2;
}

.camera_loader {
  background: #fff url(../images/camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3;
}

.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4;
}

.camerarelative {
  overflow: hidden;
  position: relative;
}

.imgFake {
  cursor: pointer;
}

.camera_command_wrap .hideNav {
  display: none;
}

.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4;
}

.showIt {
  display: none;
}

.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative;
}

.camera_caption {
  display: none;
}

.cameraContent .camera_caption {
  display: block;
}

.camera-abs() {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/*================   Custom Layout&Styles   =====================*/
.camera_caption {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;

  > div {
    height: 100%;
  }
}

.camera_pag {
  position: absolute;
  bottom: 15%;
  left: 50%;
  margin-left: -585px;

  @media (max-width: 479px) {
    margin-left: -135px;
  }

  @media (max-width: 767px) and (min-width: 479px) {
    margin-left: -210px;
  }  
  
  @media (max-width: 979px) and (min-width: 768px) {
    margin-left: -374px;
  }

  @media (max-width: 1199px) and (min-width: 980px) {
    margin-left: -470px;
  }
  

  &_ul {
    text-align: center;

    li {
      display: inline-block;
      width: 19px;
      height: 19px;
      line-height: 19px;
      text-align: center;
      cursor: pointer;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #fff;
      .transition(.3s all ease);

      &.cameracurrent, &:hover {
        background: #ff9800;
      }

      & + li {       
      	margin-left: 20px;  
      }

      > span {
        display: none;
      }
    }
  }
}

.camera_next {

}

.camera_prev {

}

.camera-text {
    position: relative;
    left: -30px;
    background: rgba(0,0,0,.4);
    padding: 15px 30px;
    font: 64px/80px 'Fjalla One', sans-serif;
    color: #fff;
    text-transform: uppercase;

    @media (max-width: 1199px) and (min-width: 980px) {
      font: 46px/54px 'Fjalla One', sans-serif;
    }

    @media (max-width: 979px) and (min-width: 480px) {
      font: 40px/50px 'Fjalla One', sans-serif;
      left: 0;
    }  

    @media (max-width: 479px) {
      font: 30px/40px 'Fjalla One', sans-serif;
      left: 0;
    }

    p {
      margin: 0;
      padding: 0;
    }
}