/*==================  GOOGLE MAP  ======================*/
@map-height: 350px;
@map-height-767: 250px;
@map-height-479: 200px;

.map {
  &_model{
    height: @map-height;
    border-radius: 6px;

    img {
      max-width: none !important;
    }

    @media (max-width: 767px) {
      height: @map-height-767;
    }

    @media (max-width: 479px) {
      height: @map-height-479;
    }
  }

  &_locations{
    display: none;
  }
}


.map {
  &_main{
    height: 435px;

    img {
      max-width: none !important;
    }

    @media (max-width: 767px) {
      height: @map-height-767;
    }

    @media (max-width: 479px) {
      height: @map-height-479;
    }
  }

  &_locations{
    display: none;
  }
}
