@import "_mixins.less";
@import "_variables.less";

//--------------------------------------------------------------
//                      Search Form
//--------------------------------------------------------------
@form-bg: #ededed;
@form-width: 210px;
@form-height: 40px;
@form-border: 1px solid #a5a5a5;
@form-color: #333;
@form-submit-icon: @fa-search;
@form-submit-color: #a5a5a5;
@form-submit-hover: @primary;

.search-form {
  display: block;
  position: relative;
  width: @form-width;

  &_label {
    display: block;
    padding: ((@form-height - 16)/2) 40px ((@form-height - 16)/2) 10px;
    background: @form-bg;
    border: @form-border;
  }

  &_input {
    .reset-input;
    color: @form-color;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    height: 16px;
  }

  &_submit {
    .reset-button;
    .transition(.3s all ease);
    position: absolute;
    top: 10px;
    right: 12px;
    width: 25px;
    height: 22px;
    color: @form-submit-color;
    font: 400 22px/22px 'FontAwesome', sans-serif;

    &:before {
      content: @form-submit-icon;
    }

    &:hover {
      color: @form-submit-hover;
    }
  }

  @media (max-width: 479px) {
    width: 270px;
  }
}

//--------------------------------------------------------------
//                     Search Toggle
//--------------------------------------------------------------
.search-form_toggle {
  float: right;
  display: inline-block;
  color: @default;
  font: 400 44px/44px @fa;

  &:before {
    content: @fa-search;
  }

  &.active, &:hover {
    color: @primary;
  }

  &.active {
    &:before {
      content: @fa-close;
    }
  }
}

// .search-form {
//   display: none;
// }

// .search-form.on{
//   display: block;
// }

//--------------------------------------------------------------
//                     Search Liveout
//--------------------------------------------------------------
.search-form_liveout {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  .opacity(0);
  .transition(.3s all ease);

  .search_list {
    font-size: 14px;
    line-height: 24px;
    background: #FFF;
    .box-shadow(0 0 2px 0 rgba(0,0,0,.5));

    li + li {
      margin-top: 2px;
    }
  }

  .search_link {
    display: block;
    padding: 5px 10px;
    background: #FFF;
    color: #999;

    .search_title {
      color: @primary;
      text-transform: uppercase;
    }

    &:hover {
      background: @primary;
      color: lighten(@primary, 40%);

      .search_title {
        color: #FFF;
      }
    }
  }

  .search_error {
    display: block;
    color: @primary;
    background: darken(#FFF, 2%);
    padding: 10px 10px;
    overflow: hidden;
  }

  .match {
    display: none;
  }

  button {
    .reset-button();
    display: block;
    width: 100%;
    color: @primary;
    background: darken(#FFF, 2%);
    padding: 10px 10px;

    &:hover {
      background: @primary;
      color: #FFF;
    }
  }

  input:focus + & {
    .opacity(1);
  }

  .tablet, .mobile & {
    display: none !important;
  }
}

//--------------------------------------------------------------
//                    Search Results Page
//--------------------------------------------------------------
.search-frame {
  &, body {
    width: 100%;
    height: auto;
    background: transparent;
  }

  &, body, h1, h2, h3, h4, h5, h6, p, em{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    font: inherit;
    color: inherit;
    text-decoration: none;

    &:active {
      background: transparent;
    }

    &:focus {
      outline: none;
    }

    .transition(.3s all ease);
  }

  h4 {
    font: 18px/18px 'Fjalla One', sans-serif;
    color: #403d40;

    a:hover {
      color: @primary;
    }
  }

  .search_list {
    color: @default;
    font: 400 14px/21px Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    list-style-type: none;

    li {
      padding-left: 30px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        font: 400 24px @fa;
        line-height: inherit;
      }
    }

    & + li {
      margin-top: 20px;
    }
  }

  .search {
    color: #777777;
  }

  .match {
    color: @secondary;
    font-size: 11px;
    display: block;
    padding-bottom: 20px;
  }

  * + p{
    margin-top: 16px;
  }
}




