/*========================================================
                        Includes
=========================================================*/
@import "_mixins.less";
@import "_variables.less";
@import "animate.css";

// Fonts

@import url(//fonts.googleapis.com/css?family=Fjalla+One);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

/*========================================================
                      Main Styles
=========================================================*/
body {
    background: @footer-bg;
    color: @default;
    font: 400 14px/21px @default-font;
    -webkit-text-size-adjust: none;
}

img {
    max-width: 100%;
    height: auto;
}

h2, h3, h4, h5, h6 {
    
    a:hover {
        color: @secondary;
    }
}

h2 {
    padding-bottom: 32px;
    padding-top: 20px;
	font: 48px/48px 'Fjalla One', sans-serif;
    color: @color2;
}

h3 {
    font: 27px/27px 'Fjalla One', sans-serif;
    padding-bottom: 45px;
    padding-top: 80px;
    text-transform: uppercase;
    color: @color2;	
}

h3.border {
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

h4 {
    font: 14px/21px 'Arial', sans-serif;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: @color1; 	    
}

h5 {
    font: 15px/18px 'Fjalla One', sans-serif;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: @color2; 	
}

h6 {
    font: 18px/30px 'Fjalla One', sans-serif;
    padding-bottom: 15px;
    text-transform: uppercase;
    color: @color2;	
}

p{
	a:hover{
        text-decoration: underline;
    }
}

time {
   display: block;
}

a {
    font: inherit;
    color: inherit;
    text-decoration: none;

    &:active {
        background: transparent;
    }

    &:focus{
        outline: none;
    }

    .transition(.3s);
}

a[href^="tel:"] {
    color: inherit;
    text-decoration: none;
}

strong {
    font-weight: 700;
}

.fa{
	line-height: inherit;
}

[class*='fa-']{
    &:before{
        font-weight: 400;
    	font-family: @fa;
    }     
}

.page {
    overflow: hidden;
    min-height: 500px;

    .lt-ie9 & {
        min-width: 1200px;
    }
}

/*=======================================================
                       Main Layout
=========================================================*/


/*=======================================================
                        Components
=========================================================*/
@import "_menu.less";
@import "_select-menu.less";
@import "_stuck-menu.less";
@import "_to-top.less";
@import "_thumb.less";
@import "_tabs.less";

/*==================    Buttons    ======================*/
.btn {
    position: relative;
    display: inline-block;
    padding: 0 22px;
    height: 39px;
    font: 16px/39px 'Fjalla One', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: @secondary;
    .box-sizing(border-box);
    .box-shadow(0 3px 0 rgba(0,0,0,.08));
    .border-radius(6px);
    z-index: 1;    

    &:hover {
        text-decoration: none;
        background: @primary;
    }

    &_white {
        color: @color1;
        background: #fff;

        &:hover {
            color: @primary;
            background: #fff;
        }
    }

    &_dark {
        background: @color1;
        .box-shadow(none);
    }

    &_red {
        background: @primary;
        .box-shadow(none);

        &:hover {
            background: @secondary;
        }
    }
}

.link1 {
    display: inline-block;
    margin-bottom: 10px;
    font: 16px/20px 'Fjalla One', sans-serif;
    text-transform: uppercase;
    color: @secondary;

    &:hover {
        color: @primary;
    }
}

.link2 {
  color: @secondary;   
}



/*==================      Box      ======================*/
.box1 {
    .border-radius(7px);
    overflow: hidden;
    background: #dfdfdf;
    margin-bottom: 50px;

    img {
        width: 100%;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    &_cnt{
        padding: 17px 23px 15px;
    }

    p {
        font-size: 14px;
        margin-bottom: 10px;

        a {
            color: @primary;
        }        
    }

    .box-info {
        font-size: 12px;
        margin: 0;
    }
    
}

.owl-carousel {
    .box1 {
        margin-bottom: 10px;
    }
    
    h5 {
        padding: 0;
    }
}

.box2 {
    .border-radius(10px);
    box-shadow: inset 0 0 2px rgba(0,0,0,.2), 0 0 0 4px #d8d8d9;
    overflow: hidden;
    padding: 28px 25px 38px;
    text-align: center;
    color: #fff;

    h3 {
        padding-top: 27px;
        padding-bottom: 17px;
        color: #fff;
    }

    &_color1 {
        background: #949897;
    }

    &_color2{
        background: #ffba38;
    }

    &_color3 {
        background: @secondary;
    }

    &_color4 {
        background: @primary;
    }

}

.box3 {
    .clearfix();
    margin-bottom: 15px;

    p {
        font-size: 12px;
        line-height: 18px;
    }

    &_aside{
        float: left;
        margin-right: 17px;
    }

    &_cnt__no-flow{
        overflow: hidden;
    }   
}

.post-meta {
    font: 15px/18px 'Fjalla One', sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;

    @media (max-width: 979px) {
        font-size: 13px;
    }

    a {
        color: @color2;
        
        &:hover {
            color: @secondary;
        }

        &.user {
            color: @primary;

            &:hover {
                color: @secondary;
            }
        }

        .fa {
            margin-right: 4px;
            line-height: 16px;
        }
    }

    a + a {
        margin-left: 20px;

        @media (max-width: 979px) {
            margin-left: 10px;
        }
    }
}


/*========================================================
                     HEADER  Section
=========================================================*/
header {
    background: @header-bg;
}

.top-header {
    background: @color1;
    border-bottom: 3px solid #d8d8d9;

    .nav{
        float: left;

        @media (max-width: 767px) {
            text-align: center;
            float: none;
        } 
    }
}

.social-list {
    float: right;
    padding-top: 5px;

    @media (max-width: 767px) {
        text-align: center;
        float: none;
    } 

    li {
        position: relative;
        float: left;

        & + li {
          margin-left: 12px;
        }
    }

    a {
        display: block;
        color: #a6a8a7;

        &:hover {
            color: #fff;
        }
        
        .fa {
            display: block;
            font-size: 15px;
        }
    }
}

.main-header {
    .clearfix;
    padding: 45px 0;

    @media (max-width: 479px) {
        padding-left: 15px;
        padding-right: 15px;
    }    
}

.hdr-right {
    float: right;
    .clearfix;
    margin-top: 3px;

    @media (max-width: 979px) {
        float: none;
        margin-top: 20px;
    }    
}

.hdr-address {
    float: left;
    .clearfix;
    color: #30a0c1;
    margin-right: 10px;

    @media (max-width: 767px) {
        float: none;
    }

    .addr-icon{
        float: left;
        margin-right: 5px;
    }

    dl {
        .clearfix;
        float: left;
        margin-right: 15px;
        font-size: 12px;
        line-height: 16px;
        position: relative;

        @media (max-width: 479px) {
            float: none;
            margin-bottom: 10px;
        }
    
    }
}

.search-block {
    float: right;

    @media (max-width: 767px) {
        float: none;
        margin-top: 20px;
    }
}

/*==================     Brand     ======================*/
.brand {
    float: left;
    display: inline-block;

    @media (max-width: 979px) {
        float: none;
    }

}

/*========================================================
                     CONTENT  Section
=========================================================*/
main {
    display: block;
    background: @content-bg;

    p {
        margin-bottom: 25px;
    }
}

.imgs-block img {
    display: inline-block;
    width: 129px;
    height: auto;
    .box-shadow(0 0 0 4px #e1e1e2);
    .border-radius(10px);
    margin-bottom: 12px;
    margin-top: 0;

    &.mr1 {
        margin-right: 8px;        
    }
}

.banner {
    .clearfix();
    background: #fff;
    .border-radius(6px);
    .box-shadow(inset 0 0 0 1px #dedede);
    padding: 27px 30px 25px;
    margin-bottom: 10px;

    .banner-title {
        color: @color2;
        font-size: 34px;
        line-height: 39px;
        letter-spacing: -1px;
        margin: 0;

        @media (max-width: 767px) {
            text-align: center;
        }

        span {
            text-transform: uppercase;
            font-weight: bold;

            @media (max-width: 767px) {
                display: block;
            }

        }

        a {
            color: @primary;

            &:hover {
                color: @secondary;
            }
         }
    }

    .banner-right {
        float: right;
        overflow: hidden;
        text-align: center;

        @media (max-width: 767px) {
            float: none;
            margin-bottom: 20px;
        }

    }
}

.list1 {
    color: @secondary;

    h3 {
        color: @secondary;
    }

    li {
        margin-bottom: 10px;
    }

    a {
        color: @secondary;
        font-size: 12px;


        &:hover {
            color: @primary;
        }
    }

    &_left {
        float: left;
        width: 270px;

        @media (max-width: 1199px) and (min-width: 980px) {
            width: 225px;
        }

        @media (max-width: 979px) {
            width: 100%;
        }

        & + .list1_left {
            margin-left: 30px;

            @media (max-width: 1199px) and (min-width: 980px) {
                margin-left: 10px;
            }
            @media (max-width: 979px) {
                margin-left: 0;
            }
        }
    }
}

.list1-wrap {
    .clearfix();
}

.brands-list {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;

    li {
        display: inline-block;
        margin: 0 18px 10px;
    }

    a {
        img {
            .opacity(.7);
        }

        &:hover {
            img {
                .opacity(1);
            }
        }
    }
}

.list2 {
    li {
        font-size: 12px;
        line-height: 18px;

        a {
            color: #838383;
        }
    }

    &.list2-main {
        text-transform: uppercase;
    }
}

.hdr-date {
    padding-bottom: 10px;
    padding-top: 10px;
    font: 24px/30px 'Fjalla One', sans-serif;

    a {
        color: @primary;

        &:hover {
            color: @secondary;
        }
    }
}

.img-border {
    width: 100%;
    border: 1px solid #fff;
    .box-shadow(0 0 0 1px rgba(0,0,0,.1));
}

img + img {
    margin-top: 30px;
}

.addr {
    font-size: 14px;
    line-height: 24px;

    dt, dd {
        display: inline-block;
    }

    dt {
        width: 80px;
    }

    p {
        margin: 0;
    }
}

.addr-wrap {
    margin-bottom: 40px;
    
    h4 {
        padding-bottom: 5px;
    }

    .addr {
        line-height: 21px;
    }
}

.terms {
    padding-bottom: 50px;

    h4 {
        padding-bottom: 5px;
    }

    p {
        margin-bottom: 30px;
    }
}


.mt1 {
    margin-top: 10px;
}

.mt2 {
    margin-top: 7px;
}

.mt3 {
    margin-top: 33px;
}

/*==================      Well     ======================*/
.well1 {
    padding: 100px 0 80px;
}

.well2 {
    padding-top: 90px;
    padding-bottom: 95px;
}

.well3 {
    padding-bottom: 40px;
}

.well4 {
    padding-top: 15px;
}

.well5 {
    padding-top: 100px;
}

.well6 {
    padding-bottom: 80px;    
}


/*==================  Backgrounds  ======================*/
.bg01 {
    background: #f0f0f2;
}

/*========================================================
                     FOOTER  Styles
=========================================================*/
footer{
    background: @footer-bg;
    padding-bottom: 120px;
    border-top: 1px solid #f0f0f2;

    a:hover {
        text-decoration: underline;
    }    

    .copyright {
        color: @primary;
        font-size: 12px;
        line-height: 16px;

        .copy-brand {
            text-transform: uppercase;
        }
    }

    .list3 {
        font-size: 10px;
        line-height: 16px;   

        li {
            display: inline-block;

            a {
                color: #838383;
            }
        }
    }
}

.top-footer {
    padding-bottom: 75px;
    padding-top: 25px;
}

.pb1 {
    padding-bottom: 10px;
}

.add {
    border-bottom: 1px solid #d8d8da;

    p {
        font-style: italic;
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 30px;
    }

    .add-inner {
        .clearfix();

        .add-left {
            float: left;
            width: 70%;

            @media (max-width: 767px){
                float: none;
                width: 100%;
            }
        }

        .add-right {
            float: right;

            @media (max-width: 767px){
                float: none;
                margin-bottom: 30px;
            }
        }
    }
}