@media (min-width: 768px) {
	.horgony{
	  display: block;
	  height: 85px;
	  margin-top: -85px;
	  visibility: hidden;
	}
}
.select-menu .select {
    color: #630d0e;
    background-color: #F0F0F2;
	padding-left: 20px;
}
.felsorolas {
	list-style: disc;
    margin-left: 30px;
}
.text-justify {
	text-align: justify;
}
.link_bordo {
	color: #630d0e;
}
.link_bordo:hover {
	text-decoration: underline;
}
.vissza_h3 {
	font-size: 14px;
    margin-left: 12px;
    text-transform: none;
}
.h4_link {
	text-transform: none;
    color: #828282;
    text-decoration: underline;
}
.btn {
	cursor: pointer;
}
.muntars_box {
	text-align: center;
}
.logo_box {
	text-align: center;
	padding: 10px;
}
.muntars_box h5 {
	font-size: 22px;
	line-height: 24px;
}
.kep_jobb {
	float: right;
	margin: 0 0 20px 20px;
	max-width: 400px;
}
.hdr-idezet {
    float: left;
    color: #670712;
    margin-right: 10px;
	text-align: right;
}
.hdr-idezet i {
    font-style: italic;
}
@media (max-width: 767px) {
	.hdr-address {
		float: none;
		margin-top: 20px;
		text-align: center;
	}
}
.box_kep {
	    background-color: #fff;
}
.muntars_box .box_kep {
	    background-color: #dfdfdf;
}
.banner-right span {
	color: #630d0e;
    font-size: 34px;
    line-height: 39px;
}
.social-list span {
    font: 20px/20px 'PT Sans Narrow', sans-serif;
	color: #fff;
}
.hdr-right {
    max-width: 400px;
}
.fool_bizt_box h4 {
	text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.box2_color5 {
  background: #630d0e;
}
.box2_color6 {
  background: #DCAB4E;
}
.box2_color7 {
  background: #64B74E;
}
.box2_color8 {
  background: #B16320;
}
.box2_color9 {
  background: #AC1D32;
}
.box3_aside img {
	width: 160px;
}
.brands-list li {
    max-width: 96px;
    vertical-align: middle;
}
.padbot0 {
	padding-bottom: 0px !important;
}
.padbot10 {
	padding-bottom: 10px !important;
}
.padbot20 {
	padding-bottom: 20px !important;
}
.padbot30 {
	padding-bottom: 30px !important;
}
.padbot40 {
	padding-bottom: 40px !important;
}
.padbot50 {
	padding-bottom: 50px !important;
}
.padtop0 {
	padding-top: 0px !important;
}
.padtop10 {
	padding-top: 10px !important;
}
.padtop20 {
	padding-top: 20px !important;
}
.padtop30 {
	padding-top: 30px !important;
}
.padtop40 {
	padding-top: 40px !important;
}
.padtop50 {
	padding-top: 50px !important;
}
.margtop0 {
	margin-top: 0px !important;
}
.margtop3 {
	margin-top: 3px !important;
}
.margtop10 {
	margin-top: 10px !important;
}
.margtop20 {
	margin-top: 20px !important;
}
.margtop30 {
	margin-top: 30px !important;
}
.margtop40 {
	margin-top: 40px !important;
}
.margtop50 {
	margin-top: 50px !important;
}
.margbot0 {
	margin-bottom: 0px !important;
}
.margbot10 {
	margin-bottom: 10px !important;
}
.margbot20 {
	margin-bottom: 20px !important;
}
.margbot30 {
	margin-bottom: 30px !important;
}
.margbot40 {
	margin-bottom: 40px !important;
}
.margbot50 {
	margin-bottom: 50px !important;
}


#oldalso_ajanlatkeres {
	z-index: 9999;
	position: fixed;
	top: 42%;
	right: -60px;
	background-color: #B79900;
	/* width: 47px; */
	text-align: left;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	padding: 10px 20px;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
}

.isStuck {
    background: #630d0e;
    z-index: 999;
    border-bottom: 1px solid #630d0e;
}

a[href^="tel:"] {
    color: #630d0e;
    text-decoration: none;
}

.link:hover {
	color: #630d0e;
}

.camera_caption {
    top: 15%;
}

.camera_pag {
    bottom: 5%;
}